        <%- include('header')%> <!--chamou o arquivo de header e economizou codigo-->      
           
        <h2>
            Admin: Categorias [ EM CONSTRUCAO ]
            <!-- <a href="/admin/vagas/nova">Nova Vaga</a> -->
        </h2>
        
        <!--
        <div>
            <ul>
                
            </ul>
        </div>
        -->

        <%- include('footer')%> <!--chamou o arquivo de footer e economizou codigo-->