         <%- include('header')%> <!--chamou o arquivo de header e economizou codigo-->      
           
        <h2>Admin: </h2>
        <div>            
            <ul>             
                <li><a href="/admin/categorias">Gerenciar Categorias</a></li>
                <li><a href="/admin/vagas">Gerenciar Vagas</a></li>
            </ul>
        </div>

        <%- include('footer')%> <!--chamou o arquivo de footer e economizou codigo-->